.companyList {
    margin-top: 50px;
    text-align: center;
}

.list {
    margin-bottom: 25px;
}

.companyNameInput {
    margin-bottom: 5px;
    width: 95%;
}

.companyDescInput {
    width: 95%;
}

.selectUsers {
    width: 100%;
}

.deleteCompany {
    margin-top: 15px;
}

.companyListItem {
    width: 100%;
}